html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.bold-label {
    font-weight: bold;
    font-size: 1.12rem;
    display: inline;
}

.gen-output {
    font-family: 'Courier New', Courier, monospace;
}

#error-output {
    color: red;
}

.select-box {
    display: inline;
    margin-right: 10px;
}